pandas
fastapi
uvicorn
python-dotenv
langchain
langchain-google-genai
langchain-community
langchain-core
faiss-cpu
google-generativeai
google-ai-generativelanguage
python-multipart
pydantic
tiktoken
setuptools
wheel
numpy
tqdm
requests
langgraph
PyPDF2
chardet
llama-index
unstructured[all-docs]
tavily-python